@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('../fonts/Nunito-sans/NunitoSans10pt-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('../fonts/Nunito-sans/NunitoSans10pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kode Mono';
    src: url('../fonts/KodeMono/KodeMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
*, *::after, *::before{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix::after{
    content: ' ';
    clear: both;
    display: block;
}
/* HOMEWORK */
html, body{
    height: 100%;
}
.main-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
main{
    flex-grow: 1;
}
.table-container{
    max-width: 1100px;
    margin: 0 auto;
    font-family: "Nunito Sans 10pt";
}
header{
    background: rgb(242, 146, 162);
    font-family: 'Roboto';
}
.header-list{
    padding: 25px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.header-list li{
    position: relative;
}
.header-list a{
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: aliceblue;
    padding: 10px 15px;
    background-color: #6082B6;
    text-align: center;
    border: 1px solid #535353;
}
.header-second-list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    /* padding-top: 25px; */
}
.third-list{
    position: absolute;
    right: 100%;
    top: 0;
    white-space: nowrap;
    display: none;
}
.header-list li:hover .header-second-list{
    display: block;
}
.dropdown:hover .third-list {
    display: block;
}

/* TABLE */
.table-section{
    padding: 60px 0;
}
.table-data{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #e4e4ef;
    border-style: hidden;
    overflow: hidden; 
}
.table-data td, .table-data th{
    border-top: 1px solid #e4e4ef;
    vertical-align: middle;
}
.table-data th{
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    padding: 18px 16px;
    width: 398px;
}
.table-data th + th + th{
    width: 158px;
}
.table-data th + th + th + th{
    width: auto;
}
.table-data td{
    padding: 8px 16px;
    color: #1a1a1a;
    font-weight: 400;
    font-size: 12px;
}
.button{
    text-align: center;
}
.status{
    cursor: pointer;
    font-size: 12px;
    border-radius: 12px;
    padding: 8px 24px;
}
.lightBlue{
    background: #ededfe;
    color: #605dec;
}
.lightGreen{
    background: #ebf6eb;
    color: #31aa27;
}
.lightYellow{
    background: #fff4e4;
    color: #e99518;
}
.lightRed{
    background: #fff0f0;
    color: #f93232;
}
.statusLightGray{
    background: #f8f9fb;
    color: #bdbcdb;
    font-size: 12px;
    font-weight: 400;
    border-radius: 12px;
    padding: 4px 24px;
    width: 83px;
    height: 28px;
}
.table-data td p + p{
    color: #808080;
    font-weight: 400;
    font-size: 12px;
}
/* Other homeworks */
.wrapper{
    padding: 50px 0 50px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.width-800{
    width: 800px;
}
.width-400{
    width: 400px;
}
.height-133{
    height: 133.33px;
}
.height-400{
    height: 400px;
}
.height-200{
    height: 200px;
}
.height-100{
    height: 100px;
}
.flex{
    display: flex;
}
.bg-pink{
	background-color: pink;
}
.bg-green{
	background-color: rgb(92, 211, 79);
}
.bg-mustard{
	background-color: rgb(231, 201, 51);
}
.outline{
	outline: 2px solid red;
}
.flex-body-bg{
    background: #f9dd9b;
}
.float{
    float: left;
}
.float-body-bg {
    background-color: rgb(241, 211, 254);
}
.fz-0{
    font-size: 0;
}
.inline-block{
    display: inline-block;
    font-size: 16px;
}
.inline-block-bg{
    background: #466f36;
}
.header-second-list{
    font-family: 'Kode Mono';
}

/* HOMEWORK 10 */
.header-list .home-pic{
    position: relative;
    padding-left: 28px;
}
.header-list .gallery-pic{
    position: relative;
    padding-left: 28px;
}
.header-list .arrow-down-pic{
    position: relative;
    padding-right: 28px;
}
.header-list .arrow-left-pic{
    position: relative;
    padding-left: 28px;
}
.home-pic::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    top: 4px;
    left: 0;
    background: url('../images/home.svg') no-repeat 50%/28px;
}
.gallery-pic::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 4px;
    background: url('../images/paw.svg') no-repeat 50%/20px;
}
.arrow-down-pic::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 82%;
    background: url('../images/arrow-down.svg') no-repeat 50%/20px;
}
.arrow-left-pic::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 7px;
    left: 16px;
    background: url('../images/arrow-left.svg') no-repeat 50%/25px;
}
/* footer */

.footer-socials{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer{
    padding: 25px 0;
    background-color: rgb(242, 146, 162);
}
footer a{
    display: block;
}
.footer-wrapper {
    background: #605dec;
    padding: 10px 10px;
    width: 350px;
    margin: 0 auto;
    border-radius: 50px;
    border: 3px solid #4341a5;
    box-shadow: rgba(0, 0, 0, 0.70) 0px 5px 15px;
}
.insta{
    width: 30px;
    height: 30px;
    background: url('../images/insta.svg') no-repeat 50%/30px;
}
.facebook{
    width: 30px;
    height: 30px;
    background: url('../images/facebook.svg') no-repeat 50%/30px;
}
.yt{
    width: 30px;
    height: 30px;
    background: url('../images/youtube.svg') no-repeat 50%/30px;
}
.reddit{
    width: 30px;
    height: 30px;
    background: url('../images/reddit.svg') no-repeat 50%/30px;
}
